.profile__job {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 16px 0 12px;
}


@media (max-width: 950px) {
  .profile__job {
    font-style: normal;
    font-weight: 1;
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 425px) {
  .profile__job {
    margin: 14px 0 0;
  }
}